# ignore MAC internal files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
# ignore cluster provisioning output files
*-resources
*-cleanup.sh
*.pem
*--
*.bak
helper*
# ignore workdir files
kubeconfig
calico.yaml
calico_*
tmp*
